.App {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  display: grid;
  box-shadow: 0 .2vw .4vw rgba(0, 0, 0, 0.1);
}

.nav-buttons {
  display: grid;
  gap: 10px;
}

.nav-buttons button {
  background-color: #34495e;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #1abc9c;
}

.nav-buttons button.active {
  background-color: #1abc9c;
}


